@use "../../styles/partials/variables" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/mixins" as *;

.button {
    padding: 1rem;

    @include tablet-media-break {
        // width: auto;
    }

    &__button {
        border: none;
        border-radius: 1.25rem;
        color: $white;
        font-weight: 600;
        width: 50%;
        height: 2rem;
        background-color: $instock-black;
    
        &:hover {
            cursor: pointer;
        }
    
        @include tablet-media-break {
            padding: 8px 16px;
        }
    }
}
