@use "./variables" as *;
@use "./mixins" as *;

//* RESETS *//
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family, sans-serif;
  @include body-copy;
  color: $instock-black;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
li {
  display: inline-block;
  list-style: none;
}
