@use "../../styles/partials/variables" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: #212529;
  text-align: center;
  color: #f8f9fa;

  &__button {
    font-size: 2rem;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;

  &__link {
  }

  &__link,
  &__link:visited {
    color: #f8f9fa;
  }
}
