@use "../../styles/partials/variables" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/mixins" as *;

.ticket-card {
  &__container {
    display: flex;
    // justify-content: space-around;
  }

  &__content {
    padding: 1rem;
  }
}

.ticket__row {
  display: flex;
  width: 100%;
}
